.main-div{
  width : 100%;
  text-align: center;
}

form{
  width: 30%;
  margin-inline: auto;
  margin-top: 50px;
  border: 1px solid #dbdbdb;
  padding: 15px;
  display:flex;
  flex-direction: column;
}

input{
  margin-top:20px;
  margin-bottom:20px;
  padding: 5px;
}

button{
  margin-top: 20px;
  padding: 13px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid white;
}

button:hover{
  background-color: white;
  color: black;
  transition: 0.8s ease-in-out;
  border: 1px solid #ccc;
}

.activity-main-div{
  text-align: center;
}

.activity-form{
  display: flex;  
  width: 35%;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  text-align: center;
}

.activity-button{
  padding: 0px;
  width: 50px;
  font-size: 15px;
  margin-top: 5px ;
}